@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
body {
  padding-top: 70px;
  padding-bottom: 10px;
}
.navbar-inverse {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover {
  color: #000;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  color: #000;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a:hover {
  color: #000;
}
.grid {
  margin-top: 15px;
}
.grid-item {
  padding-bottom: 15px;
}
.grid-body {
  background: #ccffe6;
  border-radius: 0 0 5px 5px;
}
.grid-img {
  text-align: center;
  width: 100%;
}
.grid-img .img-thumb {
  width: inherit;
}
.img-modal {
  width: 400px;
}
.grid-text {
  padding: 15px;
}
.read-more {
  font-style: italic;
}
.btn-delete {
  background: #ff8080;
  color: #000;
}
.btn-edit {
  background: #b3ff66;
  color: #000;
}
.modal {
  text-align: center;
  padding: 0 !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  width: inherit;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin: 0;
}
.modal.modal-img .modal-dialog {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  top: 300px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.modal.modal-img.in .modal-dialog {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translate3d(0, -300px, 0);
  transform: translate3d(0, -300px, 0);
  opacity: 1;
}
.article-content {
  padding-bottom: 15px;
  float: left;
  width: 100%;
  border-bottom: 1px solid #00b33c;
}
.article-img {
  text-align: center;
  padding: 15px 0;
}
.article-text {
  text-align: justify;
}
.img-previous {
  width: 50px;
}
.img-preview {
  padding-top: 15px;
}
.img-preview img {
  width: 200px;
}
/* Pagination */
.pagination li a {
  border: 1px solid #660000;
  color: #000;
}
.pagination > li > a:focus, .pagination > li > a:hover {
  z-index: 2;
  color: #fff;
  background-color: #990000;
  border-color: #ff0000;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: #990000;
  border-color: #ff0000;
}
/*Comments*/
.comment-form {
  padding: 15px 0;
}
.comment-content {
  float: left;
  width: 100%;
}
.comment-box {
  padding: 15px 0;
  border-bottom: 1px solid #ebebeb;
}
.mainbox {
  float: none;
  margin: auto;
}
.nav.sign-link .up-link {
  background: #e60000;
  color: #fff;
}
.nav.sign-link .up-link:hover {
  background: #ff6666;
  color: #000;
}
.nav.sign-link .in-link {
  background: #00b359;
  color: #fff;
}
.nav.sign-link .in-link:hover {
  background: #00e673;
  color: #000;
}
.nav.sign-link span {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  float: left;
}
.nav.sign-link a{
  float: left;
}
.nav.sign-link .out-link{
  color: #4d79ff;
}
.nav.sign-link .out-link:hover{
  color: #4d79ff;
  text-decoration: underline;
}
